/*Stilmall för alla bildelement*/

.box1 {
    margin:3%;
    display: inline-block;
    border-radius: 24px;
    border: 3px rgb(195, 189, 173) solid;
    width: 150px;
    opacity: 0.8;
}

.imgholder {
    border:2px solid rgb(223, 211, 141);
    display: block;
    height: 40%;
    width: 90%;
    border-radius: 24px;
    margin-top: 5%;
 margin-top: 9%;
}

#computerimage{
    margin:3%;
    display: block;
    border-radius: 24px;
    border: 6px rgb(195, 189, 173) solid;
    width: 300px;
    opacity: 0.8;
    margin-bottom: 9%;
}
    
    #computerimage:hover{
        opacity: 1;
    }